* {
    overflow-x: hidden;
}

body {
    background-image: url('https://images.theconversation.com/files/393213/original/file-20210401-13-1w9xb24.jpg?ixlib=rb-1.1.0&q=30&auto=format&w=600&h=400&fit=crop&dpr=2');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    
}

#personal_Info img{
    border-radius: 50%;
}

#profile_pic1 {
    width: 10%;
    height: 10%;
    position: sticky;
    right: -50px;
    border-radius: 10%;
}

#profile_pic2 {
    width: 12%;
    height: 20%;
    position: absolute;
    right: 50px;
    bottom: -550px;
    border-radius: 10%;
}

#profile_pic3 {
    width: 12%;
    height: 20%;
    position: fixed;
    right: 180px;
    bottom: 10px;
    border-radius: 10%;
}


#ContactMe > h3:hover {
    color: white;
}

.margin-v {
    margin: 30px 0;
}

.margin-v2 {
    margin: 20px 0;
}

label {
    font-weight: bold;
}